.eggs/
.mypy_cache/
.vscode/
.vspreview/
*.egg-info/*
*.glsl
*.pyc
*.vpy
/tests/dependencies/*
/tests/output/*
build/
dist/
venv/

# Test files.
test*

# Files generated while testing.
*.ini
*.log
/tessdata_best/**/*
/vcpkg/**/*
tessdata_best
vcpkg
/_binaries/**/*
